<html>
	<head>
		<!--浏览器显示的编码-->
		<meta charset="UTF-8">
		<!---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告</title>
		<!--body控件中的样式-->
		<link rel="stylesheet"  href="file:///android_asset/html/jqm/css/themes/default/jquery.mobile-1.3.2.min.css">
		<!--控件中需要的动作[行为]
		<script src="file:///android_asset/html/jqm/js/jquery.js"></script>
		<script src="file:///android_asset/html/jqm/js/jquery.mobile-1.3.2.min.js"></script>
		-->
	</head>
		<body>
		<div data-role="page">
		<!--头-->
		<!--列表-->
		<ul data-role="listview" data-inset="true">
		</ul><blockquote>
            <p><h2 style="text-align:center"><font color="#000">工作制度</font></h2>

            <p>1. 首要负责制. 即属服务站职责权限范围之内, 程序简便, 可当场或者当天办结的申请事项, 由第一接待人一包到底, 即收即办.</p>
            <p>2. 限时办结制, 即当场不能办理 需经部门审核或者现场勘查的申请事项, 在规定时限内办结. 做到事事有着落. 件件有回音.</p>
            <p>3. 服务承诺制,即对居民服务内容,程序, 时限, 服务标准等事项向社会做出公开承诺, 并采取措施保障落实, 自觉接受群众监督</p>
            <p>4. 行政问责制. 即坚持实事求是, 客观公正, 追究责任与改进工作相结合, 对工作人员不履行或不正确履行法定职责, 造成不良影响和后果的进行问责</p>
            <p>5. 便民服务计划代办制. 即免费为办事居民提供代办业务, 不得收取办事居民的任何报酬.</p>
            <p>6. 干部接待制。即社区 "两委"主要干部按规定时间到接待群众, 处理群众诉求. </p>
 </blockquote>

		
		<!--尾-->
			</div>

</html>