<html>
	<head>
		<!--浏览器显示的编码-->
		<meta charset="UTF-8">
		<!---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告</title>
		<!--body控件中的样式-->
		<link rel="stylesheet"  href="file:///android_asset/html/jqm/css/themes/default/jquery.mobile-1.3.2.min.css">
		<!--控件中需要的动作[行为]-->
		<script src="file:///android_asset/html/jqm/js/jquery.js"></script>
		<script src="file:///android_asset/html/jqm/js/jquery.mobile-1.3.2.min.js"></script>
	</head>
		<body>
		<div data-role="page">
		<!--头-->
		<!--列表-->
		<ul data-role="listview" data-inset="true">
		</ul><blockquote>
            <p><h2 style="text-align: center"><font color="#000000">办理老年人优待证</font></h2>
            <p>1. 凡属于昆明市常住人口，年满60周岁以上（需对年、对月、对日）；
            <p>2. 外地户口的年满60周岁以上在我社区居住一年以上的老年人（需对年、对月、对日），持居住证或户口所在地区派出所出具的《户籍证明》（注明办老年证用）原件可办理；
            <p>3. 居住在我社区的港、澳、台的并取得永久居留权的外国籍老年人，持港、澳、台身份证及复印件，来往大陆通行证及复印件或《外国人永久居留证》，派出所出具居住在我社区的证明原件可办理；
            <p>4. 凭本人户口册、身份证明原件及复印件，近期半寸免冠彩照二张；
            <p>5. 填写《云南省老年人优待申请表》。
 </blockquote>

		
		<!--尾-->
			</div>

</html>
