<html>
	<head>
		<!--浏览器显示的编码-->
		<meta charset="UTF-8">
		<!---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告</title>
		<!--body控件中的样式-->
		<link rel="stylesheet"  href="file:///android_asset/html/jqm/css/themes/default/jquery.mobile-1.3.2.min.css">
		<!--控件中需要的动作[行为]-->
		<script src="file:///android_asset/html/jqm/js/jquery.js"></script>
		<script src="file:///android_asset/html/jqm/js/jquery.mobile-1.3.2.min.js"></script>
	</head>
		<body>
		<div data-role="page">
		<!--头-->
		<!--列表-->
		<ul data-role="listview" data-inset="true">
		</ul><blockquote>
            <p><h2 style="text-align: center"><font color="#000000">办理外出流动人口婚育证</font></h2>
            <p>1. 每星期二、四到社区；
            <p>2. 本人办理失业证需携带户口册、毕业证、培训合格证及彩照一张；
            <p>3. 如户口册服务处所一栏上填有单位的需出具单位相关证明；
            <p>4. 办理了失业证并且遗失需先登报作废；
            <p>5. 应届大专、本科毕业生如需失业证需带《大学生就业推荐表》；
 </blockquote>

		
		<!--尾-->
			</div>

</html>
