<html>
	<head>
		<!--浏览器显示的编码-->
		<meta charset="UTF-8">
		<!---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公告</title>
		<!--body控件中的样式-->
		<link rel="stylesheet"  href="file:///android_asset/html/jqm/css/themes/default/jquery.mobile-1.3.2.min.css">
		<!--控件中需要的动作[行为]-->
		<script src="file:///android_asset/html/jqm/js/jquery.js"></script>
		<script src="file:///android_asset/html/jqm/js/jquery.mobile-1.3.2.min.js"></script>
	</head>
		<body>
		<div data-role="page">
		<!--头-->
		<!--列表-->
		<ul data-role="listview" data-inset="true">
		</ul><blockquote>
            <p><h2 style="text-align: center"><font color="#000000">办理独生子女保健费</font></h2>
            <p>申请领取独生子女保健费，应当交验、出具下列证和证明材料：
            <p>1. 本人的户口册、身份证、结婚证或者其他婚姻证书；
            <p>2. 本人需领取独生子女保健费的申请；
            <p>3. 独生子女的出生证明或者收养证明、本人的《独生子女父母光荣证》；
            <p>4. 失业证或单位证明；
 </blockquote>

		
		<!--尾-->
			</div>

</html>
