.panel-group {
	max-height: 770px;
	overflow: auto;
}
.leftMenu {
	margin: 10px;
	margin-top: 20px;
}
.leftMenu .panel-heading {
	position: relative;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	color: white;
	cursor: pointer;
}
.leftMenu .panel-heading span {
	position: absolute;
	right: 10px;
	top: 12px;
}
.leftMenu .list-group-item {
	width: 100%;
	height: 36px;
	padding: 0;
}
.leftMenu .menu-item-left {
	width: 100%;
	height: 100%;
	padding-left: 20px;
	background: transparent;
	border: none;
	text-align: left;
}
.leftMenu .menu-item-left span {
	margin-right: 5px;
}
.leftMenu .menu-item-left:hover {
	background: #C4E3F3;
}

.table-list {
	margin-top: 20px;
	margin-right: 20px;
}

.table-opt-btn {
	margin-right: 10px;
}