<!DOCTYPE html>
<html>
<head>
    <title>社区周边</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" charset="UTF-8"/>
    <link href="../../../static/css/nearby/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../static/css/nearby/global.css" rel="stylesheet" />
</head>
<body>
 <div class="container">
 <div class="header">
 <img src="Images/logo.png" style="height: 40px; margin: 10px 0px 0px 15px" />
 </div>
     <div style="padding:0 5px 0 0;">
      
     <ul class="unstyled defaultlist pt20">
         <li class="f">
             <a href="mall?param=0">
             <h3>全部</h3>
             <figure class="jp_icon"></figure>
             </a>
         </li>
         <li class="h">
             <a href="mall?param=1">
              <h3>生活超市</h3>
              <figure class="jd_icon"></figure>
              </a>
         </li>
     </ul>
     <ul class="unstyled defaultlist">
         <li class="a">
             <a href="mall?param=2">
                  <h3>餐饮</h3>
              <figure class="hb_icon"></figure>
             </a>
             
         </li>
         <li class="p">
            <a href="mall?param=3">
            <h3>休闲</h3>
            <figure class="mp_icon"></figure>
            </a>
         </li>
     </ul>
     <ul class="unstyled defaultlist">
         <li class="t">
            <a href="mall?param=4">
            <h3>家政服务</h3>
            <figure class="hcp_icon"></figure>
            </a>
         </li>
         
         <li class="m">
             <a href="mall?param=5">
            <h3>其他</h3>
            <figure class="wdxc_icon"></figure>
              </a>
         </li>
       
     </ul>
     </div>
 </div>    

  <div class="footer">
  </div>
</body>
</html>
