<!DOCTYPE html>
<html>
<head>
<title>商品详情</title>
<meta charset="utf-8">
<meta
	content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1"
	id="viewport" name="viewport" />
<!--离线应用的另一个技巧-->
<meta content="yes" name="apple-mobile-web-app-capable" />
<!--指定的iphone中safari顶端的状态条的样式-->
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<!--告诉设备忽略将页面中的数字识别为电话号码-->
<meta content="telephone=no" name="format-detection" />
<link type="text/css" rel="stylesheet"
	href="../../../static/css/nearby/com.css" />
<link type="text/css" rel="stylesheet"
	href="../../../static/css/nearby/productidx.css" />
<script>
	var PX_HELP_DATA = [ '', 'uo74au74aqpc8801g3htt5l2v7',
			[ 'touch', 'product', 'index' ], '2014/04/09 09:40:40', 0, false ];
	var DOMIN = {
		MAIN : "../m.paixie.com/",
		HELP : "../help.paixie.net/",
		TUAN : "../tuan.paixie.net/",
		WAP : "../wap.paixie.net/",
		UNION : "../union.paixie.net/",
		VIPSHOP : "../v.paixie.net/"
	};
</script>
<script>
	var JAVASCRIPT_LIB = (('\v' !== 'v') ? 'zepto' : 'jquery');
	JAVASCRIPT_LIB = "jquery";
	document
			.write('<script src="../../../static/js/jquery-1.7.2.min.js"><\/script>');

	DOMIN.MAIN = './';
	// uc浏览器添加书签功能 
	window.onmessage = function(event) {
		if (event.data.message != '') {
			$('#otherPage').remove();
		} else {
			$('#otherPage').show();
		}
	}
</script>
<script src="../../../static/js/common/com.js"></script>
<script src="../../../static/js/nearby/template.js"></script>

</head>
<body>
	<div class="com-content">
		<script>
			function open_notice(id) {
				setCookie('touch_notice_close', 1);
				var url = 'new/info/' + id + '.html';
				window.location.href = url;
			}

			var touch_notice_close = getCookie('touch_notice_close');
			if (touch_notice_close == '1'
					&& typeof (document.getElementById('js-com-notification2')) != 'undefined'
					&& document.getElementById('js-com-notification2') != null) {
				document.getElementById('js-com-notification2').style.display = 'none';
			}
		</script>
		<div class="com-header-area" id="js-com-header-area">
			<a href="default.htm" class="com-header-logo"></a>
			<dfn></dfn>
			<p>
				<a class="com-header-search" id="js-com-header-search"><del></del></a>
				<i></i> <a href="cart/default.htm" class="com-header-cart "><b
					id="header-cart-num">0</b> <del></del></a>
			</p>
			<div class="clear"></div>
			<form action="/s.php" method="post">
				<strong> <input type="text" name="keyword"
					id="js-com-search-text" value="" /> <input type="submit" value=" " />
				</strong>
				<div id="js-com-search-recommend">
					<div></div>
					<a href="p-_m0003s0017_1.html@asc=id" style="color: #000000">女单鞋</a>
					<a href="p-m0001_id;1.html" style="color: #ed1749">运动新品</a> <a
						href="p-m0001s0014_1.html" style="color: #000000">篮球鞋</a>

				</div>
			</form>
		</div>
		<div class="com-content-area" id="js-com-content-area">
        <!--content-->
        <div class="page-role good-page">
		<script src="../../../static/js/jquery.touchslider.min.js"></script>
		<script src="../../../static/js/nearby/index.js"></script>
		<script>
			jQuery(function($) {
				$(".touchslider").touchSlider({
					mouseTouch : true,
					autoplay : true
				});
			});
		</script>

		<div class="page-title">
			<a class="return" href="javascript:history.back();void(0)">返 回</a>商品详情
		</div>
		<div class="pxui-area" id="product_detail">
			<!-- 插入模板 -->
		</div>
		</div>
		</div>
		</div>

		<script id="product_detail_tpl" type="text/tpl">
					<h1><%= product_name %></h1>
					<div class="touchslider">
			            <div class="touchslider-viewport" style="height:280px;overflow:hidden">
            			    <% for(var i = 0; i < imgs.length; i++){ %>
			                    <% var img = imgs[i]; %>
            			        <div class="touchslider-item"><a><span class="img320"><img src="<%= img.src %>" /></span></a></div>
			                <% } %>
		    			</div>
            			<div class="touchslider-navtag">
							<a class="touchslider-prev"></a>
							<% for(var i = 0; i < imgs.length; i++){ %>
                    			<% if(i != 0){ %>
                        			<span class="touchslider-nav-item "></span>
                    			<% } else { %>
                        			<span class="touchslider-nav-item touchslider-nav-item-current"></span>
                    			<% } %>
                			<% } %>
							<a class="touchslider-next"></a>
		    			</div>
        			</div>
					<% if(promotion && promotion.length > 0){ %>
						<% for(var i = 0; i < promotion.length; i++){ %>
						<div class="pxui-list" data-model="radio">
							<a><%= promotion[i].name %><i class="arrow-right"></i></a>
							<div class="pxui-list-con" style="display: none;">
							<%= promotion[i].start %> 到 <%= promotion[i].stop %><br />
							<% for(var j = 0; j < promotion[i].items.length; j++){ %>
								<strong>·</strong> <%= promotion[i].items[j] %></b><br>
							<% } %>
							</div>
							<div style="clear: both; height: 4px; margin: 0; padding: 0px; width: 100%;"></div>
						</div>
						<% } %>
					<% } %>
					<% if(moreDetail){ %>
						<a class="pxui-gray-button" href="imgshow.html?<%= product_id%>">点击查看图文详情&nbsp;&nbsp;<i class="arrow-right"></i></a>
					<% } %>
					<ul class="goodinfo" id="js-goodinfo">
						<li><b>价格：</b>
							<div>
								<p>
									<strong class="pxui-color-red">￥<%= price%></strong>
									<% if(protoprice){ %>
										<del class="pxui-color-gray">￥<%= protoprice%></del>
									<% } %>
								</p>
							</div>
						</li>
						<li><b>配送:</b>
							<div>
								<p>
									<span><%= dispatching %></span>
								</p>
							</div></li>
						<li>
						<li><b>售后:</b>
							<div>
								<p>
									<span><%= service %></span>
								</p>
							</div></li>
						<li>
						<% if(color && color.length > 0){ %>
							<li><b>颜色:</b>
								<div>
									<p>
							<% for(var i = 0; i < color.length; i++){ %>
								<% if (i == 0){ %>
									<a href="#detail_mao" title="<%= color[i].title %>" class="img40 selected">
								<% }else{ %>
									<a href="#detail_mao" title="<%= color[i].title %>" class="img40">
								<% } %>
									<img src="<%= color[i].imgsrc %>" title="<%= color[i].title %>" /></a>
							<% } %>
									</p>
								</div>
							</li>
						<% } %>
						<% if(sizes && sizes.length > 0){ %>
							<li><b>大小:</b>
								<div>
									<p class="sizes">
							<% for(var i = 0; i < sizes.length; i++){ %>
								<a stock="<%= sizes[i].stock %>" value="<%= sizes[i].value %>"> <%= sizes[i].show %> </a>
							<% } %>
									</p>
								</div>
							</li>
							<div class="fixed-add-to-cart" id="js-fixed-add-to-cart">
								<div>
									&nbsp; <span class="pxui-select" id="js-sizes-select"> <span>请选择</span>
										<i></i> <select>
											<option value="">请选择</option>
							<% for(var i = 0; i < sizes.length; i++){ %>
											<option stock="<%= sizes[i].stock %>" value="36<%= sizes[i].value %>"><%= sizes[i].show %></option>
							<% } %>
										</select>
									</span> <span> <span class="pxui-select num"> <span>0</span>
										<i></i> <select>
											<option value="0">0</option>
									</select>
									</span>
									</span> <input type="button" class="pxui-light-button addtocart" value="立即结算" />
								</div>
							</div>
						<% } %>
						<li><b style="line-height: 39px;">数量:</b>
							<div>
								<p>
									<span class="pxui-select num"> <span>0</span> <i></i> <select>
											<option value="0">0</option>
									</select>
									</span> <span class="pxui-color-red">
									</span>
								</p>
							</div>
						</li>
					</ul>
					<input type="button" class="pxui-light-button addtocart" value="立即结算" />
					<h3 id="js-attrs-title">商品属性</h3>
					<ul class="attrs">
						<% for(var i = 0; i < attrs.length; i++){ %>
							<% if(i != 4){ %>
								<li><%= attrs[i].name %>：<%= attrs[i].value %></li>
							<% }else{ %>
								<li><%= attrs[i].name %>：<%= attrs[i].value %> <input type="hidden" value="2"	id="shoesClass" /></li>
							<% } %>
						<% } %>
						<li>&nbsp;</li>
						<li><a class="a" id="js-show-all-attrs">查看完整属性</a></li>
					</ul>
					<h3>
						服务承诺<a href="#">返回顶部<i class="arrow2-top"></i></a>
					</h3>
					<ul class="services">
						<% for(var i = 0; i < services.length; i++){ %>
							<li><i></i> <%= services[i] %></li>
						<% } %>
					</ul>
					<h3>
						用户评论<a href="#">返回顶部<i class="arrow2-top"></i></a>
					</h3>
					<div id="js-comment-list" style="display: none;">
						<div class="comment-info">
							<div>
								<p>
									综合满意指数：<br>&nbsp;&nbsp;&nbsp;&nbsp;<b
										class="pxui-color-red"><%= scores %></b> 分
								</p>
								<span>评论人数：<br>&nbsp;&nbsp;&nbsp;&nbsp;<%= comment_count %>人
								</span>
							</div>
							&nbsp;大家认为：
							<ul>
								<% for(var i = 0; i < appraise.length; i++){ %>
								<li><b><%= appraise[i].name %></b>
									<% for(var j = 0; j < appraise[i].items.length; j++){ %>
									<p>
										<%= appraise[i].items[j].name %>：<i><del style="width: <%= appraise[i].items[j].level %>%"></del></i><span><%= appraise[i].items[j].level %>%</span>
									</p>
									<% } %>
								</li>
								<% } %>
							</ul>
						</div>
						<ul class="comment-list" id="js-commentlist"></ul>
						<div class="pxui-show-more">
							<img src="template/images/public/loading.gif" width="24"
								height="24"> <a href="http://www.baidu.com">查看更多 <i
								class="arrow2-bottom"></i></a>
						</div>
					</div>
					<a id="js-show-comment" class="pxui-blue-button">点击查看&nbsp;&nbsp;<i
						class="arrow-right"></i></a>
					<div class="com-footer-area" id="js-com-footer-area">
					<div class="com-footer-nav">
						<a href="default.htm">首页</a><a href="help/index.html">帮助中心</a><a
							href="feedback/index.html">反馈建议</a>
					</div>
					<div class="com-footer">
						<p class="com-policy">
							<strong>
								<a class="pxui-color-white" href="javascript:void(0)"> <i></i> <span>自营商品<br /> 满99包邮 </span></a>&nbsp;&nbsp;&nbsp;&nbsp; 
							</strong>
						</p>
						<br /> <br />
					</div>
					</div>
		</script>
				
		<script src="../../../static/js/zepto.min.js"></script>
    	<script src="../../../static/js/mtpl.js"></script>
		<script>
			//接口地址
			var isDown = false;
			// 导航菜单的模板
			var data = {
				product_id : '123456',
				product_name : '361度 女板鞋 白/浅粉 8216614',
				promotion : [{
					name : '【踏青一站购】361°满99减10、199减20、299减30',
					start : '2014-04-08 09:40',
					stop : '2014-04-20 23:59',
					items : [ '满99元,减10元', '满199元,减20元', '满299元,减30元' ]
				},],
				moreDetail : 1,
				imgs : [ {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-p_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-r_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-f_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-b_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-t_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-l_thumb_320320.jpg'
				}, {
					src : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-d_thumb_320320.jpg'
				}, ],
				
				price : '99.00',
				protoprice : '299.00',
				dispatching : '免运费 ,支持货到付款',
				service : '由拍鞋网销售并提供售后服务。',
				
				color : [{title : '白/浅粉', imgsrc : 'http://img12.paixie.net/361sport/201204/06/paixienet-445113-20120406-090933-p_thumb_8080.jpg'},
				         {title : '浅蓝/浅红', imgsrc : 'http://img12.paixie.net/361sport/201204/06/paixienet-445112-20120406-090933-p_thumb_8080.jpg'},
				         {title : '深粉/蓝', imgsrc : 'http://img12.paixie.net/361sport/201204/06/paixienet-445111-20120406-090933-p_thumb_8080.jpg'}
				         ],
				sizes : [{stock : '28', value : '36_550', show : '36'},
				        {stock : '27', value : '38_554', show : '38'}
						],
						
						attrs : [{name : '货号', value : '8216614'},
						         {name : '品牌', value : '361度'},
						         {name : '款式', value : '板鞋/休闲鞋'},
						         {name : '颜色', value : '白/浅粉'},
						         {name : '上架时间', value : '2012-04-06'},
						         {name : '上市年份', value : '2012'},
						         {name : '鞋码偏差', value : '正常'},
						         {name : '鞋底材质', value : 'RB/MD'},
						         {name : '鞋面材质', value : '合成革'},
						         {name : '闭合方式', value : '系带'},
						         {name : '适合季节', value : '春季'},
						         {name : '性别', value : '女'},
						         {name : '鞋面材料', value : 'PU/人造革'},
						         {name : '外底材料', value : '橡胶底'}
						         ],
						         
				services : ['正品保证 假一赔十','15天无理由免邮退换货','10天保值 差价返还','自营商品满 99 包邮','货到付款 全国范围'],
				
				scores : '4.6',
				comment_count : '206',
				appraise : [{name : '尺码', items : [{name : '合适', level : '100'},
				                                   {name : '偏大', level : '0'},
				                                   {name : '偏小', level : '0'},
				                                   ]
								}
							],
			};
			
			var urlList = 'http://192.168.1.107:50001/productDetail?id=' + {{id}};
			$.get();
			var viewtpl = document.getElementById('product_detail_tpl').innerHTML;
			var outHtml = mtpl(viewtpl, data);
			document.getElementById('product_detail').innerHTML = outHtml;
		</script>
</body>
</html>
