<!DOCTYPE html>
<html>
<head>
<title>商品列表</title>
<meta charset="utf-8">
<meta
	content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=1"
	id="viewport" name="viewport" />
<!--离线应用的另一个技巧-->
<meta content="yes" name="apple-mobile-web-app-capable" />
<!--指定的iphone中safari顶端的状态条的样式-->
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<!--告诉设备忽略将页面中的数字识别为电话号码-->
<meta content="telephone=no" name="format-detection" />
<link type="text/css" rel="stylesheet"
	href="../../../static/css/nearby/com.css" />
<script src="../../../static/js/jquery-1.7.2.min.js"></script>
<script src="../../../static/js/common/com.js"></script>
<script src="../../../static/js/nearby/template.js"></script>
</head>
<body>
	<div class="com-content">
		<div class="com-header-area" id="js-com-header-area">
			<a href="default.htm" class="com-header-logo"></a>
			<p>
				<a class="com-header-search" id="js-com-header-search"><del></del></a>
				<i></i> <a href="cart/default.htm" class="com-header-cart "> <b
					id="header-cart-num">0</b> <del></del></a>
			</p>
			<div class="clear"></div>
			<form action="/s.php" method="post">
				<strong> <input type="text" name="keyword"
					id="js-com-search-text" value="" /> <input type="submit" value=" " />
				</strong>
				<div id="js-com-search-recommend">
					<div></div>
					<a href="#" style="color: #000000; filter:Alpha(opacity=50)">女单鞋</a>
					<a href="#" style="color: #000000; filter:Alpha(opacity=50)">运动新品</a>
					<a href="#" style="color: #000000; filter:Alpha(opacity=50)">篮球鞋</a>
				</div>
			</form>
		</div>
		<div class="com-content-area">
			<!--content-->
			<div class="page-role">
				<div class="page-title">
					<a href="javascript:history.back();void(0)" class="return">返 回</a>
					{{title}} <a
						href="list/filter.php@special=&main=1&style=1&brand=&size=&sex=&price=&keyword=">高级筛选<i></i></a>
				</div>
				<div class="pxui-tab" style="margin-bottom: 10px;">
					<a href="#" class="selected">推 荐</a>
					<a href="#" class="selected">全 部</a>
				</div>
				<div class="pxui-area">
					<div class="pxui-shoes">
						<div id="productlist">
							<!-- 加载模板 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script id="productview_tpl" type="text/tpl">
		<% for(var i = 0; i < list.length; i++){ %>
			<% var item = list[i]; %>
			<a href="<%= item.href %>">
				<div class="img160">
					<img src="<%= item.imgsrc %>" />
				</div>
				<span class="name"><%= item.name %></span>
				<span class="price">￥<%= item.oprice %></span>
				<del class="price">￥<%= item.price %></del>
			</a>
		<% } %>
	</script>
	<script src="../../../static/js/zepto.min.js"></script>
	<script src="../../../static/js/mtpl.js"></script>
	<script>
		/*
		// 导航菜单的模板
		var data = {
			entries : [ {
				href : '#',
				imgsrc : '../../../static/image/1.jpg',
				name : '',
				oprice : '',
				price : ''
			}, {
				href : '#',
				imgsrc : '../../../static/image/1.jpg',
				name : '',
				oprice : '',
				price : ''
			}, {
				href : '#',
				imgsrc : '../../../static/image/1.jpg',
				name : '',
				oprice : '',
				price : ''
			}, {
				href : '#',
				imgsrc : '../../../static/image/1.jpg',
				name : '',
				oprice : '',
				price : ''
			}, {
				href : '#',
				imgsrc : '../../../static/image/1.jpg',
				name : '',
				oprice : '',
				price : ''
			} ]
		};
		var tpl = document.getElementById('productview_tpl').innerHTML;
		var outHtml = mtpl(tpl, data);
		document.getElementById('productlist').innerHTML = outHtml;
		*/
		var pagenum = 0;
		var urlList = 'http://192.168.1.107:50001/productIndex?id=' + {{id}} + '&page=' + pagenum;
		$.get(urlList, function(res){
			var tpl = document.getElementById('productview_tpl').innerHTML;
			var outHtml = mtpl(tpl, res);
			document.getElementById('productlist').innerHTML = outHtml;
		});
	</script>
</body>
</html>
