<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% end %}</title>
  
    <meta name="description" content="">
    <meta name="author" content="">

    {% block extend_script %} {% end %}

    <!-- Le styles -->
    <link href="{{static_url("css/bootstrap.css")}}" rel="stylesheet">
    <link href="{{static_url("css/bootstrap-responsive.css")}}" rel="stylesheet">
    <link href="{{static_url("css/stylesheet.css")}}" rel="stylesheet">
    <link href="{{static_url("css/index.css")}}" rel="stylesheet">
    <link href="{{static_url("icon/font-awesome.css")}}" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{static_url("img/apple-touch-icon-144-precomposed.html")}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{static_url("img/apple-touch-icon-114-precomposed.html")}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{static_url("img/apple-touch-icon-72-precomposed.html")}}">
    <link rel="apple-touch-icon-precomposed" href="{{static_url("img/apple-touch-icon-57-precomposed.html")}}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{static_url("js/html5shiv.js")}}"></script>
    <![endif]-->
    </head>
<body>
    <div id="content"> <!-- Content start -->
      <div class="inner_content">
          <div class="widgets_area">
                <div class="row-fluid">
                    <div class="span12">
                         <div  class="daohanglink"style="">
                           <span class="daohang"></span>
                           <span>首页</span><span>></span>
                           {% block title_path %}{% end %}
                           <a  href={% block addobj_url %}{% end %} class="label label-warning" style="float:right; margin:8px;">添加</a>

                         </div>
                        <div class="well brown">
                           {% block main_content %}{% end %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{static_url("js/jquery-1.10.2.js")}}"></script>
    <script src="{{static_url("js/jquery-ui-1.10.3.js")}}"></script>
    <script src="{{static_url("js/bootstrap.js")}}"></script>

    <script src="{{static_url("js/library/jquery.collapsible.min.js")}}"></script>
    <script src="{{static_url("js/library/jquery.mCustomScrollbar.min.js")}}"></script>
    <script src="{{static_url("js/library/jquery.mousewheel.min.js")}}"></script>
    <script src="{{static_url("js/library/jquery.uniform.min.js")}}"></script>

   
    <script src="{{static_url("js/library/jquery.sparkline.min.js")}}"></script>
    <script src="{{static_url("js/library/chosen.jquery.min.js")}}"></script>
    <script src="{{static_url("js/library/jquery.easytabs.js")}}"></script>
    <script src="{{static_url("js/library/flot/excanvas.min.js")}}"></script>
    <script src="{{static_url("js/library/flot/jquery.flot.js")}}"></script>
    <script src="{{static_url("js/library/flot/jquery.flot.pie.js")}}"></script>
    <script src="{{static_url("js/library/flot/jquery.flot.selection.js")}}"></script>
    <script src="{{static_url("js/library/flot/jquery.flot.resize.js")}}"></script>
    <script src="{{static_url("js/library/flot/jquery.flot.orderBars.js")}}"></script>
    <script src="{{static_url("js/library/maps/jquery.vmap.js")}}"></script>
    <script src="{{static_url("js/library/maps/maps/jquery.vmap.world.js")}}"></script>
    <script src="{{static_url("js/library/maps/data/jquery.vmap.sampledata.js")}}"></script>
    <script src="{{static_url("js/library/jquery.autosize-min.js")}}"></script>
    <script src="{{static_url("js/library/charCount.js")}}"></script>
    <script src="{{static_url("js/library/jquery.minicolors.js")}}"></script>
    <script src="{{static_url("js/library/jquery.tagsinput.js")}}"></script>
    <script src="{{static_url("js/library/fullcalendar.min.js")}}"></script>
    <script src="{{static_url("js/library/footable/footable.js")}}"></script>
    <script src="{{static_url("js/library/footable/data-generator.js")}}"></script>

    <script src="{{static_url("js/library/bootstrap-datetimepicker.js")}}"></script>
    <script src="{{static_url("js/library/bootstrap-timepicker.js")}}"></script>
    <script src="{{static_url("js/library/bootstrap-datepicker.js")}}"></script>
    <script src="{{static_url("js/library/bootstrap-fileupload.js")}}"></script>
    <script src="{{static_url("js/library/jquery.inputmask.bundle.js")}}"></script>

    <script src="{{static_url("js/library/jquery.dataTables.js")}}"></script>

    <script src="{{static_url("js/flatpoint_core.js")}}"></script>

    <script src="{{static_url("js/datatables.js")}}"></script>

  </body>
</html>

