<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/favicon.ico">

        <title>设备管理系统 - 管理员 - 首页</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/index.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/static/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="row">
            <div class="col-md-2" id="adminMenu">
                
            </div>
            <div class="col-md-10">
                <div class="table-responsive table-list">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>设备ID</th>
                                <th>设备名称</th>
                                <th>设备类型</th>
                                <th>资产编号</th>
                                <th>所属人</th>
                                <th>正在使用人</th>
                                <th>设备IP</th>
                                <th>串口信息</th>
                                <th>是否在线</th>
                                <th>备注信息</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="allDeviceList">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- jQuery1.11.3 (necessary for Bo otstrap's JavaScript plugins) -->
        <script src="/static/js/jquery-1.12.1.js "></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js "></script>
        <!-- JavaScript for this template -->
        <script src="/static/js/adminIndex.js "></script>
    </body>

</html>