<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>管理员登陆</TITLE>
</HEAD>
<BODY>
<FORM method=post action=/login>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
    <tr><td width=100% aligh=center valign=center>
<table align=center> 
    <tr>
    <th><p>用户名:</p></th>
    <th><INPUT type=text name=username placeholder="Username"></th>
    </tr>
    <tr>
    <th><p>密码:</p></th>
    <th><INPUT type=password name=password placeholder="Password"></th>
    </tr>
    <tr>
    <th><INPUT value="登陆" type=submit name=submit></th>
    </tr>
</table>
<td></tr>
</table>
</FORM>
</BODY>
</HTML>
