<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">

        <title>设备管理系统 - 用户 - 首页</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/index.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="/static/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel panel-primary leftMenu">
                        <!-- 利用data-target指定要折叠的分组列表 -->
                        <div class="panel-heading" id="deviceManageHeading" data-toggle="collapse" data-target="#deviceManageGroup" role="tab" >
                            <h4 class="panel-title">
                                设备管理
                                <span class="glyphicon glyphicon-chevron-up right"></span>
                            </h4>
                        </div>
                        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                        <div id="deviceManageGroup" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="deviceManageHeading">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <!-- 利用data-target指定URL -->
                                    <button class="menu-item-left" data-target="myDeviceList.html">
                                        <span class="glyphicon glyphicon-plane"></span>我的资产
                                    </button>
                                </li>
                                <li class="list-group-item">
                                    <button class="menu-item-left" data-target="borrowedDeviceList.html">
                                        <span class="glyphicon glyphicon-resize-small"></span>借的设备
                                    </button>
                                </li>
                                <li class="list-group-item">
                                    <button class="menu-item-left" data-target="lendedDeviceList.html">
                                        <span class="glyphicon glyphicon-resize-full"></span>借出设备
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div><!--panel end-->
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="systemLogsHeading" data-toggle="collapse" data-target="#systemLogsGroup" role="tab" >
                            <h4 class="panel-title">
                                日志
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="systemLogsGroup" class="panel-collapse collapse" role="tabpanel" aria-labelledby="systemLogsHeading">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <button class="menu-item-left" data-target="loginLogs.html">
                                        <span class="glyphicon glyphicon-user"></span>登录日志
                                    </button>
                                </li>
                                <li class="list-group-item">
                                    <button class="menu-item-left" data-target="operateLogs.html">
                                        <span class="glyphicon glyphicon-tags"></span>操作日志
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col-md-10">
                内容
            </div>
        </div>

        <!-- jQuery1.11.3 (necessary for Bo otstrap's JavaScript plugins) -->
        <script src="/static/js/jquery-1.12.1.js "></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js "></script>
        <script>
        $(function(){
            $(".panel-heading").on('click', function(e) {
                /* 切换折叠指示图标 */
                $(this).find("span").toggleClass("glyphicon-chevron-down");
                $(this).find("span").toggleClass("glyphicon-chevron-up");
            });
        });
        </script>
    </body>

</html>