<!DOCTYPE HTML>
<html lang="en-US">
<head><meta charset="UTF-8" /><title>
	社区新动态
</title><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" /><meta content="yes" name="apple-mobile-web-app-capable" /><meta content="black" name="apple-mobile-web-app-status-bar-style" /><meta content="telephone=no" name="format-detection" /><meta content="email=no" name="format-detection" />
	<rel="apple-touch-icon" href="staic/img/applyicon.png" />
    <link rel="stylesheet" href="../../../static/css/home/base.css" /><link rel="stylesheet" href="../../../static/css/home/newslist.css" /></head>
<body>
    <div class="back">
        <a href="../default.htm" class="btn-backtohome">
            首页</a></div>
    <div class="container">
        <div class="news">
            <div class="news-nav">
                <ul class="news-nav-items">
                    
        <li><a href="NewsList.aspx" class='c'>
            全部</a></li>
    
        <li><a href="NewsList.aspx@pCode=SIPDynamicNews"
            class=''>
            新闻动态</a></li>
    
        <li><a href="NewsList.aspx@pCode=SIPNotice"
            class=''>
            政府公告</a></li>
    
        <li><a href="NewsList.aspx@pCode=BMGG"
            class=''>
            便民公告</a></li>
    

                </ul>
            </div>
<div class="news-list" id="newslist">
    <!-- 插入模板 -->
</div>

<script id="newslist_tpl" type="text/tpl">
    <ul class="news-list-items" id="news_list">
        <% for(var i = 0; i < list.length; i++){ %>
            <% var item = list[i]; %>
            <li>
                <a href="<%= item.href %>">
                    <%= item.href_txt %></a><br />
                    <%= item.summary %>
			</li>
        <% } %>
    </ul>
</script>

<script src="../../../static/js/zepto.min.js"></script>
<script src="../../../static/js/mtpl.js"></script>
<script src="../../../static/js/common/dragloader.js"></script>

<script>
    //接口地址
    var urlList = 'http://192.168.1.106:50001/newslist?last=0';
    var estabtime = 0;
    /*// 导航菜单的模板
    var data = {
        list : [
            {href: 'NewsDetail.aspx.html', href_txt: '园区青少年中心科技社团获机器人全国赛第一', summary: ''},
            {href: 'NewsDetail.aspx.html', href_txt: '2013“花季杯”苏州市青少年国粹活动专场', summary: ''},
            {href: 'NewsDetail.aspx.html', href_txt: 'Focussend：争霸网站流量，邮件营销重拳出击', summary: ''},
            {href: 'NewsDetail.aspx.html', href_txt: 'Focussend：助力 “赢在职场”职业发展高峰论坛', summary: ''},
            {href: 'NewsDetail.aspx.html', href_txt: 'Focussend：开学季的邮件营销案例分享', summary: ''},
            {href: 'NewsDetail.aspx.html', href_txt: '唯亭开展整治流浪狗专项行动', summary: '苏州工业园区唯亭街道原老镇区一直生活着一些流浪狗及无证犬只，这些动物由于缺乏妥善...'},
            {href: 'NewsDetail.aspx.html', href_txt: '墨韵点金蛇 园区书协召开2013年度理事会议', summary: '1月16日下午，苏州工业园区书法家协会在金陵观园召开了一届四次理事会议，园区书协主席...'},
            {href: 'NewsDetail.aspx.html', href_txt: '市科协考核小组一行调研玲珑湾社区科普工作', summary: '1月16日，苏州市科协主席纪顺俊率全市11个县市区的科协负责人组成的专项考核小组一行，...'},
            {href: 'NewsDetail.aspx.html', href_txt: '苏州三星电脑召开供应商用工规范化宣誓大会', summary: '1月17日，苏州三星电子电脑有限公司（简称三星电脑）召开了供应商用工规范化宣誓大会。...'},
            {href: 'NewsDetail.aspx.html', href_txt: 'SESS荣获市2009-2011年度文明单位标兵', summary: '近日，三星电子（苏州）半导体有限公司（SESS）又收获了一块沉甸甸的奖牌——“2009-...'}
        ]
    };
    var tpl = document.getElementById('newslist_tpl').innerHTML;
    var outHtml = mtpl(tpl, data);
    document.getElementById('newslist').innerHTML = outHtml;
    */
    $.get(urlList, function(res) {
        var tpl = document.getElementById('newslist_tpl').innerHTML;
        var outHtml = mtpl(tpl, res);
        document.getElementById('newslist').innerHTML = outHtml;
        if (res.list.length > 0) {
        	estabtime = res.list[res.list.length - 1]['estabtime'];
        }
    });
</script>

<script type="text/javascript">
            (function() {
				var list_main = document.getElementById('news_list');
                var dragger = new DragLoader(document.getElementsByClassName('main')[0], {
                    dragDownThreshold:60,/*向下滑动区域*/
                    dragUpThreshold:20,/*向上滑动区域*/
                    dragDownRegionCls: 'DownRefresh',/*向下滑动样式*/
                    dragUpRegionCls: 'UpRefresh',/*向上滑动样式*/
					disableDragDown: true,
                    /*向下滑动时的状态显示*/
                    dragDownHelper: function(status) {
                        if (status == 'default') {
                            return '';
                        } else if (status == 'prepare') {
                            return '';
                        } else if (status == 'load') {
                            return '';
                        }
                    },
                    /*[主要code]向上滑动时的状态显示*/
                    dragUpHelper: function(status) {
                        if (status == 'default') {
                            
                            return '';
                        } else if (status == 'prepare') {
                            
                            return '';
                        } else if (status == 'load') {
                        	
                            return '';
                        }
                    }
                });
                dragger.on('dragDownLoad', function() {
					
                    setTimeout(function() {
                        /*备注：此处放置数据刷新的脚本，主要是新闻列表页的 li */
                        // 无论何时，必须由业务功能主动调用reset()接口，以还原状态
                        // 比如在onDragDownLoad()回调中使用ajax加载数据时，在ajax的回调函数中应当调用reset()重置drag状态
                        // 如果不重置，drag操作将失效
                        dragger.reset();
						alert('down刷新');
                    }, 500);
                });
                dragger.on('dragUpLoad', function() {
					
                    /*备注：此处放置数据刷新的脚本，主要是新闻列表页的 li */
                    setTimeout(function() {
                        dragger.reset();
						ajaxChangePage();
                    }, 500);
                });
            })();

			function ajaxChangePage(){
				url = 'http://192.168.1.107:50001/newslist?last=' + estabtime;
				$.get(url, function(res){
					for(i = 0; i < res['list'].length; i++) {
						var item = res['list'][i];
						var ele = '<li><a href=\"' + item.href + '\">' + item.href_txt + '<br />' + item.summary + '</a></li>';
						$("#news_list").append(ele);
						estabtime = item.estabtime;
					}
				});
            }
    </script>

        </div>
    </div>
    <div class="clear-fix user">
        <span class="fr"><a href="#" class="gototop">TOP</a></div>
    <div class="footer">
    </div>
</body>
</html>
